# Maven / Spring Boot
/target/
**/mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
*.iml
.idea/

# Eclipse / STS
.classpath
.project
.settings/
.factorypath
.apt_generated

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# OS 一時ファイル
.DS_Store
Thumbs.db

# ログ
*.log